fpl-payments-bat/src/main/mule/fpl-batch-processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="afdd283f-88f1-4761-a80c-a449a438d2f8" >
		<file:connection workingDir="${Folderpath.inputpath}" />
	</file:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="50bc04fd-14aa-48d4-82ca-1d84e12cfccd" basePath="${httprequest.basepath}" >
		<http:request-connection host="${httprequest.host}" port="${httprequest.port}" />
	</http:request-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="f38ba2e2-78e7-404e-b9b3-b0f348f13298" >
		<email:smtp-connection host="${smtp.host}" port="${smtp.port}" user="${smtp.username}" password="${smtp.password}" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="6e45f004-e13e-4948-bc6b-247063dcd693"/>
	<configuration-properties doc:name="Configuration properties" doc:id="aa4965e1-e698-4e68-842a-afdd60ef268b" file="properties\config.yaml" />
	<flow name="GulfPower-batch-processingFlow" doc:id="91d1fb4e-67e9-46da-9730-39d2771e7836" >
		<file:listener doc:name="Picking-files-from-GP-file-server" doc:id="3027c4fe-19a5-4ee9-a919-3ab698274e8d" config-ref="File_Config" directory="GP\" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message-csv-to-json" doc:id="fdefe75b-d1b6-49fe-beed-106e485dd23a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="Gp-batch-processingBatch_Job" doc:id="020eb0a7-f5ae-4f23-a288-d2c581f73731">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="86bc2520-6467-4125-9cca-478329961ae8" acceptPolicy="ALL">
					<!-- <file:write doc:name="Write" doc:id="9457c906-5e1f-4b19-84e1-0a3e577dbf88" config-ref="File_Config1" path="#['GP_CustomerDetails_batch_'++(now() as String {format: 'yyyy-MM-dd-hh-mm-ss'})++'.json']" mode="APPEND"/> -->
					<http:request method="POST" doc:name="calling-moc-GP-server" doc:id="87601cc3-d8f8-4083-8b29-6ce4d0b01efa" config-ref="HTTP_Request_configuration" path="${httprequest.gppath}"/>
					<validation:is-number numberType="FLOAT" doc:name="Is number" doc:id="64676bf6-baf0-4e2e-877d-02e5497fb028" config-ref="Validation_Config" value="#[payload.AMOUNT]"/>

				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<email:send doc:name="Send-mail-to-mule-team" doc:id="73a47a96-f237-4316-90fd-5c274a8b90a2" config-ref="Email_SMTP" fromAddress="${smtp.fromaddress}" subject="${smtp.gpsubject}">
						<email:to-addresses>
							<email:to-address value="${smtp.toaddress}" />
						</email:to-addresses>
					<email:body contentType="text/html">
						<email:content><![CDATA[#[output text/plain

---

"<html> <body>" ++
"<p> Hi Team, </p>" ++
"<p> All payments records for Gulf Power we are processed now </p>" ++
"<p> Below is the summary of the batch process </p>" ++
"<p> Total Number of Records: " ++ (payload.totalRecords as Number) ++ "</p>" ++
"<p>Successful Records: " ++ (payload.successfulRecords as Number) ++ "</p>" ++
"<p>Failed Records: " ++ (payload.failedRecords as Number) ++ "</p>" ++
"<p><br> </p>"++
"<p>Thanks,</p>" ++
"<p>MuleSoft Operations Team </p>"  ++
"</body></html>"]]]></email:content>
					</email:body>
					</email:send>

			</batch:on-complete>
			
		</batch:job>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2e0f5513-4864-4b79-80cc-9318203192ab" type="ANY">
				<ee:transform doc:name="GP Error Message" doc:id="2960d50e-fd94-4b4a-a779-f8d8c19c0770" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
ERRORMESSAGE:error.errorMessage,
ERRORdESCRIPTION:error.description

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="fpl-batch-processingFlow" doc:id="b7ee55e5-0ee3-4f14-bd83-c3cb14f4b80f" >
		<file:listener doc:name="picking-files-from-fpl-file-server" doc:id="c2217d5a-564e-4023-aea6-04dbd6157772" config-ref="File_Config" directory="FPL\" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message-csv-to-json" doc:id="411651c9-962e-4da8-b2d6-a018ddca201f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="fpl-batch-processingBatch_Job" doc:id="685b1377-de3e-488b-92b7-901af097b15d" >
			<batch:process-records >
				<batch:step name="fpl_Batch_Step" doc:id="3345fcae-ab12-42f2-b954-c7e03a74939a" acceptPolicy="ALL">
					<http:request method="POST" doc:name="calling-moc-fpl-file-server" doc:id="62bd969b-7fd3-4a9c-a836-c5cfc9192617" config-ref="HTTP_Request_configuration" path="${httprequest.fplpath}"/>
					<validation:is-number doc:name="Is number" doc:id="644efd0a-8fd0-446e-9735-ac0f47c221b9" config-ref="Validation_Config" value="#[payload.AMOUNT]" numberType="SHORT"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<email:send doc:name="Send-mail-to-mule-team" doc:id="cf955dba-664d-42d2-962f-cf0419520d21" config-ref="Email_SMTP" fromAddress="${smtp.fromaddress}" subject="${smtp.fplsubject}">
					<email:to-addresses >
						<email:to-address value="${smtp.toaddress}" />
					</email:to-addresses>
					<email:body contentType="text/html">
						<email:content ><![CDATA[#[output text/plain

---

"<html> <body>" ++
"<p> Hi Team, </p>" ++
"<p> All payments records for FPL wea are processed now </p>" ++
"<p> Below is the summary of the batch process </p>" ++
"<p> Total Number of Records: " ++ (payload.totalRecords as Number) ++ "</p>" ++
"<p>Successful Records: " ++ (payload.successfulRecords as Number) ++ "</p>" ++
"<p>Failed Records: " ++ (payload.failedRecords as Number) ++ "</p>" ++
"<p><br> </p>"++
"<p>Thanks,</p>" ++
"<p>MuleSoft Operations Team </p>"  ++
"</body></html>"]]]></email:content>
					</email:body>
				</email:send>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
